VITE_APP_BACKEND_URL=http://localhost:8000
VITE_APP_TICKET_ADDRESS=your_tokenized_access_proxy_address
VITE_APP_TOKEN_ADDRESS=your_stream_token_proxy_address
VITE_APP_ACCESS_ADDRESS=your_stream_access_controller_proxy_address
VITE_APP_CHAIN_ID=80002
VITE_APP_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
VITE_APP_USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
