PORT=8000
RPC_URL=https://rpc-amoy.polygon.technology
TICKET_ADDRESS=your_tokenized_access_proxy_address
ACCESS_ADDRESS=your_stream_access_controller_proxy_address
TOKEN_ADDRESS=your_stream_token_proxy_address
